@import "../utilities/variables";
@import "../utilities/mixins";
.movieCard {
  min-height: 176px;

  @include card;
  span {
    @include rating;
  }
  p {
    @include cardText;
  }
}
@media screen and (max-width: 1020px) {
  .movieCard {
    width: 15.75rem;
    height: 9rem;
  }
}
