@import "../utilities/variables";

.person-card {
  min-width: 134px;
  max-width: 134px;
  height: 176px;
  background-image: url("/src/assets/as.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 8px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: relative;
  .error-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("/assets/user.png");
    background-position: 50% 35%;
    z-index: -1;
    background-size: 30%;
    background-repeat: no-repeat;
  }
  p {
    width: 100%;
    padding: 8px 10px;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    backdrop-filter: blur(40px);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    overflow-wrap: break-word;
    margin-top: 110px;
  }
}
@media screen and (max-width: 1020px) {
  .person-card {
    height: 144px;
    p {
      margin-top: 9px;
      font-size: 0.95rem;
    }
  }
}
