@import "../utilities/variables";
@import "../utilities/mixins";
.show-card {
  @include card;
  position: relative;
  .error-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("/assets/Rectangle 1.png");
    background-position: center;
    z-index: -1;
    background-size: 80%;
    background-repeat: no-repeat;
  }
  span {
    @include rating;
  }
  p {
    @include cardText;
  }
}
@media screen and (max-width: 1020px) {
  .show-card {
    width: 15.75rem;
    height: 9rem;
  }
}
