@import "../utilities/variables";
aside {
  position: fixed;
  z-index: 9;
  top: 0;
  height: 100vh;
  background: $dark-bg;
  border-right: 2px solid $dark-sec-bg;
  width: 80px;
  display: flex;
  flex-direction: column;
  padding-block: 2rem;
  padding-inline: 24px;
  overflow-wrap: normal;
  overflow-x: hidden;
  ul,
  .aside-toggle {
    width: 220px;
  }
  .aside-toggle {
    width: 220px;
    display: flex;
    align-items: center;
    gap: 2rem;
    h1 {
      color: white;
      letter-spacing: 0.1em;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 2rem;
      margin-right: auto;
    }
  }
  .aside-toggle > svg:nth-child(1) {
    color: rgb(217, 217, 217);
    font-size: 35px;
    cursor: pointer;
  }
  svg {
    font-size: 1.5rem;
    color: $dark-p;
  }
  span {
    color: $dark-span;
    font-weight: 900;
    font-size: 0.8rem;
    display: block;
    margin-bottom: 2rem;
  }
  .aside-links {
    margin-top: 3rem;
    ul {
      display: flex;
      flex-direction: column;
      li {
        padding-right: 15px;
        margin-left: -5px;
        a {
          padding-left: 11px;
          padding-block: 8px;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
        }
      }
    }
  }
  .more-links {
    margin-top: 3rem;
    span {
      display: block;
    }
    ul {
      display: flex;
      flex-direction: column;
      li {
        padding-right: 20px;
        margin-left: -5px;
        a {
          padding: 5px;
          border-radius: 5px;
          padding-block: 8px;
          padding-left: 11px;
        }
      }
    }
  }
  .link {
    display: flex;
    align-items: center;
    gap: 24px;
    p {
      font-size: 1.2rem;
      color: $dark-p;
    }
    &.active svg {
      color: $btn;
    }
    &.active p {
      color: white;
    }
  }
  &.open {
    width: 250px;
  }
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
@media screen and (max-width: 1280px) {
  aside {
    display: none;
  }
}

aside.open li > a.active {
  background: $dark-sec-bg;
}
