$light-bg: #ffff;
$light-span: #9ca3af;
$light-p: #6b7280; //p or li
$light-h: #171717;
$light-hover: #e5e7eb;
$light-border: #f3f4f6;

$dark-bg: #171717;
$dark-span: #737373;
$dark-p: #404040;
$dark-h: #ffff;
$dark-sec-bg: #262626;

$btn: #ffb43a;

$large: 1280px;
$medium: 767px;
$small: 640px;

// hero font
// >large
// line-height: 3rem;
//   font-size: 3rem;
//   line-height: 1;
//   max-width: 600px;

// meduim 2.5rem font size
//  font-size: 1.875rem; max-wid
