@import "../utilities/variables";
.moviesGenres,
.showsGenres {
  h4 {
    color: white;
    font-size: 1.2rem;
    line-height: 1.7rem;
  }

  .genresBtns {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-block: 1.5rem;
    button {
      color: white;
      font-weight: 500;
      border: none;
      background-color: #262626;
      padding: 10px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      cursor: pointer;

      &.active {
        background-color: white;
        color: #171717;
        font-weight: 500;
      }
    }
  }
  & + .postersGrid {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
}
.showmore {
  display: none;
  &.show {
    display: block;
    background-color: #404040;
    border: none;
    padding: 10px;
    color: white;
    margin-inline: auto;
    margin-bottom: 2rem;
    margin-top: 1rem;
    margin-left: 50%;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

    &:hover {
      background-color: #4040406c;
    }
  }
}
@keyframes loadingA {
  0% {
    height: 25px;
  }
  50% {
    height: 65px;
  }
  100% {
    height: 25px;
  }
}
